* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background-color: rgb(177, 138, 228);
    padding: 10px;
    border-radius: 5px;
}

#news-output {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.news-item {
    width: 300px;
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.news-item p {
    margin: 5px 0;
}

.news-item a {
    text-decoration: none;
    color: #007bff;
}

.news-item a:hover {
    text-decoration: underline;
}
